.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 2.25rem;
  font-weight: 400;
  margin: -382px 95px 0;
}

.u-section-1 .u-list-1 {
  min-height: 346px;
  grid-template-rows: repeat(1, auto);
  width: 1138px;
  margin: 82px auto 0 1px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 22.5px);
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  grid-auto-rows: 100%;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#05b1c7, #16ccbc);
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#05b1c7, #16ccbc);
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#05b1c7, #16ccbc);
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#05b1c7, #16ccbc);
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 65px;
  height: 71px;
  margin: -467px auto 0 23px;
}

.u-section-1 .u-image-2 {
  width: 135px;
  height: 59px;
  margin: -46px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 512px;
  height: 56px;
  margin: -34px 300px 0 auto;
}

.u-section-1 .u-text-14 {
  margin: -29px -14px 0 14px;
}

.u-section-1 .u-text-15 {
  margin: -50px -14px 60px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 285px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    min-height: 677px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-rows: calc(50% - 15px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2973px;
  }

  .u-section-1 .u-shape-1 {
    width: 710px;
    height: 283px;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -213px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2000px;
  }

  .u-section-1 .u-shape-1 {
    width: 726px;
    margin-left: -193px;
    margin-right: -193px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -252px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 107px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(25% - 22.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -367px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 619px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 12px 397px 0 373px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 499px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 67px 37px 0 4px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 499px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 400px;
  height: 330px;
  margin: 55px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 297px;
    margin-left: 273px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 187px;
    margin-left: 163px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 52px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-2 .u-image-1 {
    width: 348px;
    height: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 97px;
    margin-left: 73px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -128px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -167px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 264px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 849px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  width: 371px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 258px 0;
}

.u-section-3 .u-list-1 {
  min-height: 488px;
  margin: 45px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  grid-auto-rows: calc(50% - 11px);
  grid-gap: 22px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 291px;
  min-height: 203px;
  height: auto;
  margin: -51px -11px -21px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 0 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 291px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -51px -11px -21px auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 0 20px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 291px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -51px -11px -21px auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 0 20px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 51px;
  width: 51px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 291px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -51px -11px -21px auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 0 20px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-5 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-5 {
  width: 291px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -51px -11px -21px auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 0 20px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-6 {
  height: 51px;
  width: 51px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-6 {
  width: 291px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -51px -11px -21px auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 0 0 20px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-6 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 158px;
    margin-right: 158px;
  }

  .u-section-3 .u-list-1 {
    min-height: 402px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  }

  .u-section-3 .u-group-1 {
    width: 201px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    width: 201px;
    height: auto;
  }

  .u-section-3 .u-group-3 {
    width: 201px;
    height: auto;
  }

  .u-section-3 .u-group-4 {
    width: 201px;
    height: auto;
  }

  .u-section-3 .u-group-5 {
    width: 201px;
    height: auto;
  }

  .u-section-3 .u-group-6 {
    width: 201px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-3 .u-list-1 {
    min-height: 702px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-rows: calc(33.33% - 14.6667px);
  }

  .u-section-3 .u-group-1 {
    width: 243px;
  }

  .u-section-3 .u-group-2 {
    width: 243px;
  }

  .u-section-3 .u-group-3 {
    width: 243px;
  }

  .u-section-3 .u-group-4 {
    width: 243px;
  }

  .u-section-3 .u-group-5 {
    width: 243px;
  }

  .u-section-3 .u-group-6 {
    width: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2440px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    min-height: 1563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(16.66% - 18.3333px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-6 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    min-height: 702px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    width: 235px;
  }

  .u-section-3 .u-group-2 {
    width: 235px;
  }

  .u-section-3 .u-group-3 {
    width: 235px;
  }

  .u-section-3 .u-group-4 {
    width: 235px;
  }

  .u-section-3 .u-group-5 {
    width: 235px;
  }

  .u-section-3 .u-group-6 {
    width: 235px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 520px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 9px 60px 0 14px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 119px;
  }
}